*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
background:#f7f3ea;
font-family:Georgia, serif;
color:#2d3b2f;
overflow-x:hidden;
}

/* INICIO */

.inicio{

height:100vh;

background:
linear-gradient(
180deg,
#1f3c24,
#31583a
);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:30px;

color:white;

}

.inicio h1{

font-size:42px;

color:#dcb45d;

margin:20px 0;

}

.inicio p{

font-size:22px;

max-width:600px;

margin-bottom:30px;

}

/* BOTONES */

.boton{

display:inline-block;

padding:15px 35px;

background:#b88b30;

color:white;

text-decoration:none;

font-weight:bold;

border-radius:40px;

transition:all .4s ease;

margin:10px;

}

.boton:hover{

transform:translateY(-4px);

box-shadow:
0 15px 30px rgba(0,0,0,.15);

}

/* IMAGENES */

img{

width:100%;

display:block;

}

/* PERSONALIZADO */

.personalizado{

background:white;

padding:70px 20px;

text-align:center;

}

.personalizado h1{

font-size:42px;

color:#b88b30;

margin:15px 0;

}

/* CONTADOR */

.contador{

background:#1f3c24;

color:white;

padding:80px 20px;

text-align:center;

}

.contador h2{

font-size:38px;

margin-bottom:30px;

}

#countdown{

font-size:34px;

font-weight:bold;

line-height:1.8;

}

/* BOTONES ENTRE BLOQUES */

.botones{

padding:40px 20px;

text-align:center;

background:white;

}

/* ANIMACION PREMIUM */

.oculto{

opacity:0;

transform:scale(.96);

filter:blur(12px);

transition:

opacity 1.4s ease,
transform 1.4s ease,
filter 1.4s ease;

}

.visible{

opacity:1;

transform:scale(1);

filter:blur(0);

}

/* FOOTER */

footer{

padding:60px;

text-align:center;

background:#f7f3ea;

font-size:20px;

}

@media(max-width:768px){

.inicio h1{

font-size
