*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f7f3ea;
font-family:Georgia, serif;
overflow:hidden;
}

/* BIENVENIDA */

.bienvenida{

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

background:
linear-gradient(
180deg,
#1f3c24,
#355d3f
);

color:white;

padding:30px;
}

.bienvenida h1{

font-size:42px;

color:#dcb45d;

margin:20px 0;
}

.bienvenida p{

font-size:22px;

max-width:600px;

margin-bottom:30px;
}

/* PANTALLAS */

.slide{

display:none;

height:100vh;

overflow-y:auto;

background:#f7f3ea;

animation:fade 0.8s ease;
}

.slide img{

width:100%;
display:block;
}

.activa{

display:block;
}

/* CONTADOR */

.contador{

background:#1f3c24;

color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;
}

.contador h2{

margin-bottom:30px;

font-size:40px;
}

#countdown{

font-size:36px;

line-height:1.8;

font-weight:bold;
}

/* BOTONES */

.boton{

display:inline-block;

padding:15px 30px;

background:#b88b30;

color:white;

text-decoration:none;

border:none;

border-radius:40px;

font-weight:bold;

cursor:pointer;

margin:10px;

transition:.3s;
}

.boton:hover{

transform:scale(1.05);
}

/* NAVEGACION */

.navegacion{

text-align:center;

padding:25px;
}

.acciones{

text-align:center;

padding:30px;
}

/* EFECTO CAMBIO DE PÁGINA */

@keyframes fade{

from{

opacity:0;
transform:translateX(50px);

}

to{

opacity:1;
transform:translateX(0);

}

}

@media(max-width:768px){

.bienvenida h1{

font-size:28px;

}

#countdown{

font-size:24px;

}

}
